# working with json

In [1]:
import pandas as pd

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

# reading json data from url

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,0.0444
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,1.0100
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,1.2100
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,4.6700
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,0.0217
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,1.3400
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,3.0300
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,0.2260
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,0.2380
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2023-08-26,1693008001,55.3500

# working with astronomy data form wether api

In [1]:
import pandas as pd
import requests

In [4]:
resp=requests.get('http://api.weatherapi.com/v1/astronomy.json?key=60cabcd2be15d70d4448ebb767e111846232708&q=Hyderabad')

In [5]:
resp.json()

{'location': {'name': 'Hyderabad',
  'region': 'Andhra Pradesh',
  'country': 'India',
  'lat': 17.38,
  'lon': 78.47,
  'tz_id': 'Asia/Kolkata',
  'localtime_epoch': 1693138407,
  'localtime': '2023-08-27 17:43'},
 'astronomy': {'astro': {'sunrise': '06:01 AM',
   'sunset': '06:34 PM',
   'moonrise': '03:30 PM',
   'moonset': '01:37 AM',
   'moon_phase': 'Waxing Gibbous',
   'moon_illumination': '77',
   'is_moon_up': 0,
   'is_sun_up': 0}}}

In [6]:
resp.json()['astronomy']

{'astro': {'sunrise': '06:01 AM',
  'sunset': '06:34 PM',
  'moonrise': '03:30 PM',
  'moonset': '01:37 AM',
  'moon_phase': 'Waxing Gibbous',
  'moon_illumination': '77',
  'is_moon_up': 0,
  'is_sun_up': 0}}

In [10]:
resp.json()['location']

{'name': 'Hyderabad',
 'region': 'Andhra Pradesh',
 'country': 'India',
 'lat': 17.38,
 'lon': 78.47,
 'tz_id': 'Asia/Kolkata',
 'localtime_epoch': 1693138407,
 'localtime': '2023-08-27 17:43'}

In [9]:
# converting the above into a data frame
pd.DataFrame(resp.json()['astronomy'])

                            astro
is_moon_up                      0
is_sun_up                       0
moon_illumination              77
moon_phase         Waxing Gibbous
moonrise                 03:30 PM
moonset                  01:37 AM
sunrise                  06:01 AM
sunset                   06:34 PM

In [11]:
astroinfo=pd.DataFrame(resp.json()['astronomy'])

In [21]:
pd.DataFrame(resp.json()['location'])
# this error is because location dictionary dosen't have another key to let pandas detect anything as column as in astroinfo(which has astro column)

ValueError: If using all scalar values, you must pass an index

In [22]:
# to solve it we use the following
from IPython.display import display

location_data = resp.json()['location']

# Reshape the 'location' data into a list of dictionaries
data_list = [{'name': location_data['name'],
              'region': location_data['region'],
              'country': location_data['country'],
              'lat': location_data['lat'],
              'lon': location_data['lon'],
              'tz_id': location_data['tz_id'],
              'localtime_epoch': location_data['localtime_epoch'],
              'localtime': location_data['localtime']}]

# Create a DataFrame from the reshaped data list
locinfo = pd.DataFrame(data_list)

# Display the DataFrame with nice formatting
display(locinfo)

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime
0,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693138407,2023-08-27 17:43

In [23]:
# another way 
import pandas as pd

data = resp.json()['location']  # Extract the 'location' dictionary from the JSON response

# Create a DataFrame from the 'location' data
locinfo = pd.DataFrame(data, index=[0])

display(locinfo)

,name,region,country,lat,lon,tz_id,localtime_epoch,localtime
0,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693138407,2023-08-27 17:43

In [27]:
resp2=requests.get('https://api.weatherapi.com/v1/history.json?key=60cabcd2be15d70d4448ebb767e111846232708&q=Hyderabad&dt=2023-08-27')

In [33]:
forecast_data=resp2.json()

In [37]:

location_info = forecast_data['location']
forecast_days = forecast_data['forecast']['forecastday']

# simplifying the forecast data
simplified_forecast = []
for day in forecast_days:
    day_data = day['day']
    for hour in day['hour']:
        simplified_entry = {
            'date': day['date'],
            'hour_time': hour['time'],
            **location_info,
            **day_data,
            **hour
        }
        simplified_forecast.append(simplified_entry)

# Creating a DataFrame from the simplified data
forecast_df = pd.DataFrame(simplified_forecast)

# Displaying the DataFrame
display(forecast_df)

,date,hour_time,name,region,country,lat,lon,tz_id,localtime_epoch,localtime,...,dewpoint_c,dewpoint_f,will_it_rain,chance_of_rain,will_it_snow,chance_of_snow,vis_km,vis_miles,gust_mph,gust_kph
0,2023-08-27,2023-08-27 00:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.9,69.6,0,0,0,0,10.0,6.0,11.2,18.0
1,2023-08-27,2023-08-27 01:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.9,69.6,0,0,0,0,10.0,6.0,12.3,19.8
2,2023-08-27,2023-08-27 02:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.8,69.4,0,0,0,0,10.0,6.0,12.5,20.2
3,2023-08-27,2023-08-27 03:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.9,69.6,0,0,0,0,10.0,6.0,12.3,19.8
4,2023-08-27,2023-08-27 04:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.8,69.4,0,0,0,0,9.0,5.0,13.9,22.3
5,2023-08-27,2023-08-27 05:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.6,69.1,0,0,0,0,10.0,6.0,13.9,22.3
6,2023-08-27,2023-08-27 06:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.4,68.7,0,0,0,0,10.0,6.0,14.8,23.8
7,2023-08-27,2023-08-27 07:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.6,69.1,0,0,0,0,10.0,6.0,14.3,23.0
8,2023-08-27,2023-08-27 08:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.2,68.4,0,0,0,0,10.0,6.0,15.2,24.5
9,2023-08-27,2023-08-27 09:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.1,68.2,0,0,0,0,10.0,6.0,16.1,25.9
10,2023-08-27,2023-08-27 10:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.0,68.0,0,0,0,0,10.0,6.0,16.8,27.0
11,2023-08-27,2023-08-27 11:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,19.9,67.8,0,0,0,0,10.0,6.0,16.1,25.9
12,2023-08-27,2023-08-27 12:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,19.6,67.3,0,0,0,0,10.0,6.0,15.2,24.5
13,2023-08-27,2023-08-27 13:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,19.4,66.9,0,0,0,0,10.0,6.0,15.2,24.5
14,2023-08-27,2023-08-27 14:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,19.8,67.6,0,0,0,0,10.0,6.0,13.6,22.0
15,2023-08-27,2023-08-27 15:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.0,68.0,0,0,0,0,10.0,6.0,12.5,20.2
16,2023-08-27,2023-08-27 16:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.0,68.0,0,0,0,0,10.0,6.0,11.6,18.7
17,2023-08-27,2023-08-27 17:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.3,68.5,0,0,0,0,10.0,6.0,11.2,18.0
18,2023-08-27,2023-08-27 18:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.1,68.2,0,0,0,0,10.0,6.0,11.2,18.0
19,2023-08-27,2023-08-27 19:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.2,68.4,0,0,0,0,10.0,6.0,10.5,16.9
20,2023-08-27,2023-08-27 20:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.4,68.7,0,0,0,0,10.0,6.0,9.4,15.1
21,2023-08-27,2023-08-27 21:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.7,69.3,0,0,0,0,10.0,6.0,9.6,15.5
22,2023-08-27,2023-08-27 22:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.5,68.9,0,0,0,0,10.0,6.0,7.2,11.5
23,2023-08-27,2023-08-27 23:00,Hyderabad,Andhra Pradesh,India,17.38,78.47,Asia/Kolkata,1693153119,2023-08-27 21:48,...,20.4,68.7,0,0,0,0,10.0,6.0,10.1,16.2

In [38]:
forecast_df.to_csv('resp2')